@keyframes slideBorder {
  0% {
    left: -100%;
  }

  100% {
    left: 100%;
  }
}

@keyframes slideUp {
  0% {
    transform: translate3d(0, 100%, 0);
    opacity: 1;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translate3d(-100%, 0, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

/* Success Animation */
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* Error Animation */
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

@keyframes spaceInUp {
  0% {
    transform: translate(0%, 0%);
    opacity: 1;
  }

  25% {
    transform: scale(1.1) translate(-50%, 0%);
  }

  50% {
    transform: scale(1.1) translate(-50%, -25%);
  }

  75% {
    transform: scale(1.1) translate(0%, -50%);
  }

  100% {
    transform: translate(-13%, -50%);
    opacity: 1;
  }
}

@keyframes spaceInDown {
  0% {
    transform: translate(-50%, -100%);
    opacity: 1;
  }

  25% {
    transform: scale(1.1) translate(-5%, -50%);
  }

  50% {
    transform: scale(1.1) translate(-5%, 0%);
  }

  75% {
    transform: scale(1.1) translate(-50%, 0%);
  }

  100% {
    transform: translate(-10%, -50%);
    opacity: 1;
  }
}

@keyframes pulseIn {
  0% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  100% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
