@use 'variables' as *;
@use 'mixins' as *;

.projects-page {
  flex: 1;
  display: flex;
  justify-content: space-evenly;

  .slider__container {
    @include setFlexbox($width: 75%, $height: 100%, $column: true);

    @media (width < 769px) {
      width: 65%;
    }

    // slide
    &_slide {
      @include setFlexbox(100%);
      flex: 1;
    }
  }

  // navigation buttons
  .navigation {
    @include setFlexbox($width: 55px, $center: true);

    &.navigate-previous {
      animation: flipInY 1s forwards;
    }

    &.navigate-next {
      animation: flipInY 1s 0.2s forwards;
    }

    svg {
      cursor: pointer;
      transition: transform ease-in 0.3s;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  // loader
  #projects_loader {
    @include setFlexbox(100%, 100%, true);
  }

  // slide marker
  .slider__mark {
    @include setFlexbox($width: 100%, $height: 50px, $center: true);
    gap: 15px;

    &_marker {
      cursor: pointer;
      width: 15px;
      aspect-ratio: 1/1;
      border-radius: 50%;
      background-color: $light;
      animation: flipInY 1s forwards;

      &:first-of-type {
        animation-delay: 0.4s;
      }

      &:nth-of-type(2) {
        animation-delay: 0.6s;
      }

      &:nth-of-type(3) {
        animation-delay: 0.8s;
      }

      &:hover,
      &.marker-active:hover {
        transform: scale(1.1) translateY(-2px);
        transition: transform ease-out 0.2s;
      }

      &.marker-active {
        background-color: $accentOne;
        transform: scale(1.1);
        transition: transform ease-out 0.2s;
      }
    }
  }
}
