@use 'variables' as *;
@use 'mixins' as *;

.page {
  @include setFlexbox($width: 100%);
  flex: 1;
  opacity: 0;
  transform-style: preserve-3d;
  animation: fadeIn 1s 1s forwards;
  justify-content: center;
  overflow: hidden;

  .container {
    @include setFlexbox($width: 90%, $column: true);

    .content-container {
      @include setFlexbox($width: 100%, $column: true);
      margin-top: 10px;
      padding-bottom: 20px;
      overflow-y: auto;
      flex: 1;
    }

    .animated_text {
      color: $primary;

      span:hover {
        color: $light;
      }
    }
  }
}
