@use 'variables' as *;
@use 'mixins' as *;
@use 'animations' as *;

.home-page {
  position: relative;
  justify-content: center;

  .hero {
    @include setFlexbox(80%, $center: true);

    .hero-container {
      @include setFlexbox(100%, $column: true);
      justify-content: center;

      @media (width < 769px) {
        .bold {
          font-size: calc(3.5rem - 30%);
        }

        .small {
          font-size: calc(2rem - 30%);
        }
      }

      @media (width < 481px) {
        .bold {
          font-size: calc(3.5rem - 60%);
        }

        .small {
          font-size: calc(2rem - 60%);
        }
      }

      .small {
        margin: 20px 0 50px;
      }

      .hero_contact {
        opacity: 0;
        transform-style: preserve-3d;

        a {
          @include setButton(24px);
        }
      }
    }
  }

  #front,
  #back {
    top: 50%;
    right: 0px;
    position: absolute;
    transition: transform ease-in-out 1s;
    opacity: 0;
    fill: $primary;
    font-family: $display;

    @media (width < 769px) {
      transform: translateX(-50%);
    }
  }

  #front {
    animation: spaceInUp 3s 3s forwards;
    z-index: -1;
  }

  #back {
    animation: spaceInDown 3s 3s forwards;
    fill: $accentOne;
    z-index: -2;
  }
}
