@charset "utf-8";
@use 'variables' as *;
@use 'mixins' as *;

.navbar {
  @include setFlexbox(100%, $center: true, $gap: 1rem);

  @media (width > 768px) {
    gap: 2rem;
  }

  &:hover .nav-link:not(:hover) {
    opacity: 0.5;
    transition: opacity ease-in-out 0.3s;
  }

  .nav-link {
    position: relative;
    display: inline-block;
    padding-block: 10px;
    font-size: 1.75rem;

    @media (width < 581px) {
      font-size: 1.45rem;
    }

    &:hover {
      color: $accentOne;
    }
  }

  .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 1px;
    width: 0;
    height: 2px;
    background-color: $light;
    transition: width 0.3s ease-in;
  }

  .nav-link:hover::after {
    width: 100%;
    background: $accentOne;
  }

}
