@use "variables" as *;
@use "animations" as *;
@use "mixins" as *;
@use 'projectDescription';
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

.projects-page {
  .container {
    .content-container {
      @include setFlexbox($column: true, $gap: 20px);

      .project {
        @mixin transition($property) {
          transition-property: $property;
          transition: ease-in-out 0.3s;
        }

        @include setFlexbox($column: true, $gap: 15px);
        @include transition((border-color, padding));
        border: 2px solid transparent;
        border-radius: 10px;
        opacity: 0;
        animation: 2s forwards;

        h2,
        h3 {
          @include transition(color);
        }

        a {
          @include transition(border-color);
        }

        &:hover {
          border-color: $primary;
          padding: 10px 20px;

          h2,
          h3 {
            color: $primary;
          }

          a {
            border-color: $primary !important;
          }
        }

        .project-title {
          @include setFlexbox($gap: 30px);
          flex-wrap: wrap;

          @media (width < 769px) {
            gap: 10px;
            flex-direction: column;
            margin-bottom: 10px;
          }

          .buttons {
            display: flex;
            gap: 15px;

            a {
              @include setButton(1rem, 20px, 10px);
            }
          }
        }
      }
    }
  }
}
