@use 'variables' as *;
@use 'mixins' as *;
@use 'carousel';

.projects-page {
  overflow: hidden;

  // slide container
  .slider__container {

    // slide
    &_slide {
      @include setFlexbox($column: true);
      gap: 1rem;
      overflow-y: scroll;

      &Preview {
        @include setFlexbox;
        justify-content: space-between;
        width: 100%;

        img {
          @include boxSize(48%, auto);
          border-radius: 4px;
          opacity: 0;
          animation: fadeIn 1s forwards;

          &:nth-of-type(1) {
            animation-delay: 1s;
          }

          &:nth-of-type(2) {
            animation-delay: 1.2s;
          }
        }

        @media (width < 769px) {
          img {
            @include boxSize(100%, auto);

            &:nth-of-type(2) {
              display: none;
            }
          }
        }
      }

      h1 {
        opacity: 0;
        animation: fadeIn 1s forwards;
      }

      &Text {
        overflow-y: scroll;
        font-size: 1.2rem;

        p {
          opacity: 0;
          animation: fadeIn 1s forwards;

          &:nth-of-type(1) {
            opacity: 0;
            animation-delay: 0.2s;
          }

          &:nth-of-type(2) {
            opacity: 0;
            animation-delay: 0.4s;
          }
        }
      }

      &Buttons {
        @include setFlexbox($gap: 1rem);

        a {
          button {
            @include setButton(0.75rem);
            height: max-content;
            padding: 1rem;
            opacity: 0;
            animation: fadeIn 1s forwards;

            &:nth-of-type(1) {
              animation-delay: 0.6s;
            }

            &:nth-of-type(2) {
              animation-delay: 0.8s;
            }
          }
        }
      }
    }
  }
}
