---
import RootLayout from "@layouts/RootLayout.astro";
---

<RootLayout title="Contact Me">
  <h1
    class="font-bold text-xl md:text-2xl lg:text-3xl pb-2 border-b-2 border-neutral-200 slideInDown"
  >
    Let's get in touch
  </h1>

  <div class="flex-1 slideInUp">
    <section
      class="max-w-md lg:mx-auto bg-neutral-600 p-8 rounded-md shadow-md"
    >
      <h2 class="text-2xl font-semibold mb-4">Email Me</h2>
      <form id="contactForm" class="space-y-4">
        <div class="grid grid-cols-2 gap-4">
          <div>
            <label
              for="name"
              class="block text-sm md:text-lg lg:text-xl font-medium text-neutral-200"
              >Name</label
            >
            <input
              placeholder="Jane Doe"
              required
              type="text"
              id="name"
              name="name"
              class="mt-1 p-2 w-full border rounded-md text-dark"
            />
          </div>
          <div>
            <label
              for="email"
              class="block text-sm md:text-lg lg:text-xl font-medium text-neutral-200"
              >Email</label
            >
            <input
              placeholder="janedoe@example.com"
              required
              type="email"
              id="email"
              name="email"
              class="mt-1 p-2 w-full border rounded-md text-dark"
            />
          </div>
        </div>
        <div>
          <label
            for="subject"
            class="block text-sm md:text-lg lg:text-xl font-medium text-neutral-200"
            >Subject</label
          >
          <input
            placeholder="Let's discuss..."
            required
            type="text"
            id="subject"
            name="subject"
            class="mt-1 p-2 w-full border rounded-md text-dark"
          />
        </div>
        <div>
          <label
            for="message"
            class="block text-sm md:text-lg lg:text-xl font-medium text-neutral-200"
            >Message</label
          >
          <textarea
            placeholder="I need X, Y, Z functionality on my website"
            required
            id="message"
            name="message"
            rows="4"
            class="mt-1 p-2 w-full border rounded-md text-dark"></textarea>
        </div>
        <button
          type="submit"
          onclick="sendEmail()"
          class="w-full bg-emerald-700 text-white md:xl md:text-2xl-lg lg:text-xl py-2 rounded-md hover:bg-emerald-600 transition-colors duration-500 focus:outline-none focus:ring focus:border-blue-300"
          >Send Message</button
        >
      </form>
    </section>
  </div>
</RootLayout>

<script>
  import emailjs from "@emailjs/browser";
  emailjs.init({
    publicKey: import.meta.env.PUBLIC_EMAILJS_PK,
  });

  document.getElementById("contactForm")?.addEventListener("submit", (e) => {
    e.preventDefault();

    console.log({
      service: import.meta.env.PUBLIC_SERVICE_ID,
      template: import.meta.env.PUBLIC_TEMPLATE_ID,
    });

    const form = document.getElementById(
      "contactForm"
    ) as HTMLFormElement | null;

    if (!form) throw new Error("No form element found");

    emailjs
      .sendForm(
        import.meta.env.PUBLIC_SERVICE_ID,
        import.meta.env.PUBLIC_TEMPLATE_ID,
        form
      )
      .then(
        (response) => {
          console.log("Email sent successfully:", response);
          alert("Your message has been sent successfully!");
          form.reset();
        },
        (error) => {
          console.log("Failed to send email:", error);
          alert("Oops! Something went wrong. Please try again later.");
        }
      );
  });
</script>
