---
import RootLayout from "../layouts/RootLayout.astro";
import PrimaryLink from "../components/PrimaryLink.astro";
import Marlon from "@assets/marlon.png";
import { Image } from "astro:assets";
---

<RootLayout
  className="flex flex-col justify-center items-center h-full px-14 gap-8 text-lg sm:text-xl lg:flex-row lg:text-2xl relative overflow-x-hidden"
  title="Home"
>
  <div
    aria-hidden="true"
    class="absolute bottom-14 -right-6 md:top-10 md:left-20 w-40 h-40 bg-emerald-600 rounded-full blur-2xl -z-10"
  >
  </div>
  <div
    aria-hidden="true"
    class="hidden md:block absolute bottom-20 right-80 w-52 h-52 bg-emerald-600 rounded-full blur-2xl -z-10"
  >
  </div>
  <div
    aria-hidden="true"
    class="absolute -top-10 -left-10 md:left-auto md:right-0 w-60 h-60 md:w-80 md:h-80 bg-emerald-600 rounded-full blur-2xl -z-10"
  >
  </div>
  <div
    class="w-36 h-36 sm:w-44 sm:h-44 md:w-52 md:h-52 lg:w-56 lg:h-56 rounded-full bg-neutral-700 shadow-dark shadow-lg image slideInLeft"
  >
    <Image
      src={Marlon}
      alt="Image of Marlon"
      class="w-full h-full rounded-full border-2 border-secondary ring-2 ring-primary"
    />
  </div>

  <div class="text-center lg:text-start space-y-4">
    <div class="space-y-2 text slideInRight">
      <strong class="text-xl sm:text-2xl md:text-3xl lg:text-4xl"
        >Hi there, I'm Marlon Baatjes</strong
      >
      <p>I am a full stack web developer.</p>
    </div>

    <div class="flex justify-between items-center text-sm gap-4 links">
      <PrimaryLink href="/projects" styles="btn-primary" animation="slideInUp">
        My projects
      </PrimaryLink>

      <PrimaryLink
        styles="hover:text-neutral-600 text-neutral-500 md:text-inherit btn-primary"
        animation="slideInUp"
        href="/contact"
      >
        <p>Contact me</p>
      </PrimaryLink>
    </div>
  </div>
</RootLayout>
