---
import AnimatedBorder from "./AnimatedBorder.astro";
import ExternalLinkIcon from "./icons/ExternalLinkIcon.astro";

const schoolLinks = [
  {
    name: "W3Schools",
    link: "https://www.w3schools.com/",
    description: "Comprehensive tutorials on web development topics.",
  },
  {
    name: "MDN Docs",
    link: "https://developer.mozilla.org/en-US/",
    description:
      "Official documentation for web technologies like HTML, CSS, and JavaScript.",
  },
  {
    name: "YouTube",
    link: "https://www.youtube.com/results?search_query=programming+courses",
    description:
      "Video tutorials and lectures covering a wide range of programming and technology topics.",
  },
];
---

<div
  class="flex flex-col gap-4 relative h-max p-4 mb-6 md:mb-0 md:flex-none md:w-[30%]"
>
  <AnimatedBorder />

  <div class="opacity-0 info-item">
    <p class="font-bold text-2xl">My specialty</p>
    <a
      href="https://www.credly.com/badges/2e2ed9a4-276a-46c1-842b-526e52224842/"
      target="_blank"
      class="w-full py-1 font-bold text-lg md:w-80 block group relative hover:text-emerald-600"
    >
      <p>
        Computer literacy <span
          class="group-hover:opacity-0 inline-block group-hover:-translate-x-2 transition-all"
          ><ExternalLinkIcon size="4" /></span
        >
        <strong
          class="absolute right-4 opacity-0 transition-all group-hover:right-0 group-hover:opacity-100 font-bold"
          >100/100</strong
        >
      </p>
      <div class="mt-1" id="specialty"></div>
      <div
        class="text-sm italic -translate-y-2 opacity-0 group-hover:translate-y-1 group-hover:opacity-100 transition-all flex gap-2"
      >
        View IT certificate by Google <ExternalLinkIcon size="4" />
      </div>
    </a>
  </div>

  <div class="opacity-0 info-item">
    <p class="font-bold text-2xl">Location</p>
    <p>Sout Africa, Northern Cape</p>
  </div>

  <div class="opacity-0 info-item">
    <p class="font-bold text-2xl flex items-center gap-2">
      Education <span class="text-sm">(Self-taught)</span>
    </p>
    <ul class="text-lg ml-4 flex flex-col">
      {
        schoolLinks.map(({ description, link, name }) => (
          <li class="transition-colors list-disc hover:text-emerald-600 group">
            <a href={link} target="_blank" class="flex gap-2">
              <span>{name}</span>
              <ExternalLinkIcon size="4" />
            </a>
            <span class="text-sm hidden md:block">{description}</span>
          </li>
        ))
      }
    </ul>
  </div>

  <div class="opacity-0 info-item">
    <p class="font-bold text-2xl">I use</p>

    <ul class="text-lg info-item">
      <em>Windows 11</em>
      <li class="list-disc hover:text-emerald-600 ml-4">
        For running proprietary software, such as Photoshop
      </li>
      <li class="list-disc hover:text-emerald-600 ml-4">Playing video games</li>
    </ul>
    <ul class="text-lg info-item">
      <em>Linux (Debian)</em>
      <li class="list-disc hover:text-emerald-600 ml-4">
        As my primary operating system
      </li>
      <li class="list-disc hover:text-emerald-600 ml-4">
        For developing websites
      </li>
    </ul>
  </div>

  <div class="opacity-0 info-item">
    <p class="font-bold text-2xl">Things I love</p>
    <ul class="text-lg ml-4">
      <li class="list-disc hover:text-emerald-600">Listening to music</li>
      <li class="list-disc hover:text-emerald-600">Playing Video Games</li>
      <li class="list-disc hover:text-emerald-600">
        TV Shows (Comedy, Cartoon)
      </li>
    </ul>
  </div>
</div>
