<style>
  .animated-border {
    @apply bg-neutral-200 absolute;
  }

  .border-block {
    animation: slideX 1s forwards;
  }

  .border-inline {
    animation: slideY 1s forwards;
  }

  .skill-section {
    opacity: 0;
    animation: fadeIn 2s 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes slideX {
    from {
      width: 0;
    }

    to {
      width: 100%;
    }
  }

  @keyframes slideY {
    from {
      height: 0;
    }

    to {
      height: 100%;
    }
  }
</style>

<section class="relative">
  <div aria-hidden="true" class="absolute w-full h-full">
    <div class="border-block animated-border w-0 h-[2px] top-0 left-0" style="">
    </div>
    <div
      class="border-inline animated-border h-0 w-[2px] top-0 right-0"
      style="animation-delay: 0.2s;"
    >
    </div>
    <div
      class="border-block animated-border w-0 h-[2px] bottom-0 right-0"
      style="animation-delay: 0.4s;"
    >
    </div>
    <div
      class="border-inline animated-border h-0 w-[2px] bottom-0 left-0"
      style="animation-delay: 0.6s;"
    >
    </div>
  </div>

  <section class="space-y-2 p-4 skill-section">
    <slot />
  </section>
</section>
