---
import allProjects from "@src/allProjects.js";
import RootLayout from "@layouts/RootLayout.astro";
import Projects from "@components/Projects.astro";
---

<style>
  main {
    opacity: 0;
    animation: fadeIn 1s forwards;
  }

  h1 {
    animation: pulse 1s forwards;
  }
</style>

<RootLayout title="Projects">
  <main
    class="md:text-lg h-full overflow-y-auto px-10 sm:px-24 md:px-16 py-6 sm:py-10 md:py-14"
  >
    <div class="space-y-4">
      <h1
        class="font-bold text-2xl sm:text-3xl md:text-4xl pb-2 border-b-2 border-neutral-200"
      >
        My Projects
      </h1>

      <div class="space-y-8 projects">
        <Projects projects={allProjects.personal} key="personal" title="Personal projects" />

        <Projects projects={allProjects.clones} key="clones" title="Clone projects" />
      </div>
    </div>
  </main>
</RootLayout>
