---
import RootLayout from "@layouts/RootLayout.astro";
import Techstack from "@components/Techstack.astro";
import SkillsSection from "@components/skillsSection.astro";

const frontendTechnologies = [
    { displayName: "React.js (Next.js)", keyName: "Next.js" },
    { displayName: "Sass", keyName: "Sass" },
    { displayName: "HTML, CSS, Javascript", keyName: "HTML" },
    { displayName: "Astro", keyName: "Astro" },
  ],
  backendTechnologies = [
    { displayName: "Flask", keyName: "Python" },
    { displayName: "Express.js", keyName: "Express.js" },
    { displayName: "Hono", keyName: "Hono" },
  ];
---

<RootLayout title="Skills">
  <h1
    class="font-bold text-2xl sm:text-3xl md:text-4xl pb-2 border-b-2 border-neutral-200"
  >
    My Skills
  </h1>

  <section class="space-y-4">
    <SkillsSection>
      <h2 class="font-bold text-lg sm:text-xl md:text-2xl text-neutral-300">
        Technologies I use on the Front End
      </h2>

      <Techstack stackItems={frontendTechnologies} />
    </SkillsSection>

    <SkillsSection>
      <h2 class="font-bold text-lg sm:text-xl md:text-2xl text-neutral-300">
        Technologies I use on the Back End
      </h2>

      <Techstack stackItems={backendTechnologies} />
    </SkillsSection>

    <SkillsSection>
      <h2 class="font-bold text-lg sm:text-xl md:text-2xl text-neutral-300">
        Other tools I use
      </h2>

      <ul>
        <strong>C</strong>
        <li class="list-disc ml-5 italic hover:underline underline-offset-2">
          <a href="https://github.com/mdesignscode/monty"
            >Monty Bytescode interpreter</a
          >
        </li>
        <li class="list-disc ml-5 italic hover:underline underline-offset-2">
        </li>
      </ul>

      <ul>
        <li class="list-disc ml-5">Typescript</li>
        <li class="list-disc ml-5">Prisma.js</li>
        <li class="list-disc ml-5">Google Lighthouse</li>
        <li class="list-disc ml-5">ESLint + Prettier</li>
        <li class="list-disc ml-5">VSCode + Emacs + Vim</li>
        <li class="list-disc ml-5">PhotoShop</li>
      </ul>
    </SkillsSection>
  </section>
</RootLayout>
