---
import RootLayout from "@layouts/RootLayout.astro";
import Techstack from "@components/Techstack.astro";

const frontendTechnologies = [
    { displayName: "React.js", keyName: "Next.js" },
    { displayName: "Sass", keyName: "Sass" },
    { displayName: "HTML, CSS, Javascript", keyName: "HTML" },
    { displayName: "Astro", keyName: "Astro" },
  ],
  backendTechnologies = [
    { displayName: "Flask", keyName: "Python" },
    { displayName: "Express.js", keyName: "Express.js" },
    { displayName: "Hono", keyName: "Hono" },
  ];
---

<style is:global>
  h1 {
    opacity: 0;
    animation:
      pulse 1s,
      fadeIn 1s forwards;
  }

  .section-1 {
    opacity: 0;
    animation:
      pulse 1s 0.3s,
      fadeIn 1s 0.3s forwards;
  }

  .section-2 {
    opacity: 0;
    animation:
      pulse 1s 0.6s,
      fadeIn 1s 0.6s forwards;
  }

  .section-3 {
    opacity: 0;
    animation:
      pulse 1s 0.9s,
      fadeIn 1s 0.9s forwards;
  }
</style>

<RootLayout title="Skills">
  <h1
    class="font-bold text-2xl sm:text-3xl md:text-4xl pb-2 border-b-2 border-neutral-200"
  >
    My Skills
  </h1>

  <section class="space-y-4">
    <section class="space-y-2 section-1">
      <h2 class="font-bold text-lg sm:text-xl md:text-2xl text-neutral-300">
        Technologies I use on the Front End
      </h2>

      <Techstack stackItems={frontendTechnologies} />
    </section>

    <section class="space-y-2 section-2">
      <h2 class="font-bold text-lg sm:text-xl md:text-2xl text-neutral-300">
        Technologies I use on the Back End
      </h2>

      <Techstack stackItems={backendTechnologies} />
    </section>

    <section class="space-y-2 section-3">
      <h2 class="font-bold text-lg sm:text-xl md:text-2xl text-neutral-300">
        Other tools I use
      </h2>

      <ul>
        <li class="list-disc ml-5 italic hover:underline underline-offset-2">
          <a href="https://github.com/mdesignscode/alx-low_level_programming"
            >C</a
          >
        </li>
        <li class="list-disc ml-5">Typescript</li>
        <li class="list-disc ml-5">Prisma.js</li>
        <li class="list-disc ml-5">Google Lighthouse</li>
        <li class="list-disc ml-5">ESLint + Prettier</li>
        <li class="list-disc ml-5">VSCode + Emacs + Vim</li>
        <li class="list-disc ml-5">PhotoShop</li>
        <li class="list-disc ml-5">Google Lighthouse</li>
      </ul>
    </section>
  </section>
</RootLayout>
