---
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Full stack web developer portfolio. ** React.js | Next.js | Node.js | Typescript | C | Python | Front End | Back End"
    />
    <title>{title} | Marlon Baatjes</title>
    <meta name="theme-color" content="#b33f62"/>
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  </head>
  <body class="bg-secondary text-neutral-200 h-screen">
    <slot />
  </body>
</html>
